.list {
  margin-top: 30px;

  &__row {
    display: flex;
    margin-top: 15px;
  }

  &__row:last-child {
    margin-bottom: 0;
  }

  &__item {
    background-color: rgb(240, 234, 234);
    padding: 15px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    flex-grow: 1;
  }
  &__delete {
    background-color: red;
    border: none;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    display: none;
  }

  &__row:hover &__delete {
    display: block;
  }
}
