html {
  height: 100%;
  border: blue 1px dotted;
}

body {
  background-color: #f3f3d3;
  border: 1px red dotted;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
}
